*   {
    margin: 0;
    padding: 0;
}

:root{
    --background-clr:#F3FDFE;
    --bdy-clr:#17253A;
}

body    {
    background-color: var(--bdy-clr);
}

.container  {
    background-color: var(--background-clr);
    margin: 3rem auto;
    width: 10rem;
    padding: 1rem;
    border-radius: 6px;
}